@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
/*-----------------------default setup---------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*--------------------------common classes-------------------------------*/
.br
{
    border:1px solid red;
}
.cbr{
    border: solid cyan 1px;
}

.to-upper-case
{
    text-transform: uppercase;
}

/*--------------------------Header---------------------------------*/
.header
{
    background-color:#3399cc;
    padding: 20px 0 15px 20px;
    font-weight:100;
    font-size:25px;
    height: 110px;
    color: white;
    font-family: "Poppins", sans-serif;
    
}

.nav
{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.nav-links
{
    display: flex;
}
.nav-links li a
{
    display: block;
    color: white;
    font-weight: 120;
    font-size: 15px;
    padding: 11px 20px;
}
.nav-links a:hover 
{
    background-color: #111;
}
.logo-container{
    padding-top: 5px;
    padding-right: 20px;
}
.logo
{
    width:30px;
}
.active
{
    background-color: #ff9900;
}

/*------------------------------New Container-------------------------------*/
.news
{
    margin-top: 23px;
    margin-left: 65px;
    padding-right: 30px;
    border: 2px solid #d3d3d3;
    padding-bottom: 15px;
    display: inline-block;
}
.news-head
{
    font-weight: 700;
    padding-left: 15px;
    padding-top: 15px;
}
.news-list
{
    padding-left: 30px;
    line-height: 2;
    font-size: 14px;
}
.news-list li::before{
    content: "- ";
}
/*------------------------------------------welcome----------------------------------------------*/
.welcome-heading
{
    margin-top: 30px;
    padding-left: 60px;
    padding-bottom: 15px;
    font-weight: 700;
}
.welcome-content
{
    font-size: 13px;
    padding-left: 60px;
}
.welcome-content p
{
    padding-bottom: 30px;
}
